VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZHluYW1pYy1qb2V5LTM2MDcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_yafjDzAr3sAHVgFrLL1h0D08tiwGmX2BXFatRa7qoK
VITE_API_URL=http://localhost:8080
VITE_RIGHTSIGNAL_URL=https://rightsignal.social
